<h2 style="text-align: center">{{ heading }}</h2>

<br />
<div class="input-group">
  <span class="input-group-text">First and last name</span>
  <input
    [(ngModel)]="user.firstname"
    type="text"
    aria-label="First name"
    class="form-control"
  />
  <input
    [(ngModel)]="user.lastname"
    type="text"
    aria-label="Last name"
    class="form-control"
  />
</div>
<br />
<div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">Age</span>
  <input
    [(ngModel)]="user.age"
    type="number"
    class="form-control"
    aria-label="Sizing example input"
    aria-describedby="inputGroup-sizing-default"
  />
</div>
DOB : <input type="date" [(ngModel)]="user.dob" />

<div style="margin: 2%" class="form-check">
  <input
    [(ngModel)]="user.gender"
    value="Male"
    class="form-check-input"
    type="radio"
    name="flexRadioDefault"
    id="flexRadioDefault1"
  />
  <label class="form-check-label" for="flexRadioDefault1"> Male </label>
</div>
<div style="margin: 2%" class="form-check">
  <input
    [(ngModel)]="user.gender"
    value="Female"
    class="form-check-input"
    type="radio"
    name="flexRadioDefault"
    id="flexRadioDefault1"
  />
  <label class="form-check-label" for="flexRadioDefault1"> Female </label>
</div>
<div *ngFor="let subject of subjects">
  <input
    style="margin: 2%"
    [(ngModel)]="user.subject"
    value="{{ subject }}"
    class="form-check-input"
    type="radio"
  />
  {{ subject }}
</div>

<div style="margin: 2%">
  <button (click)="save()" type="button" class="btn btn-primary btn-lg">
    Submit button
  </button>
</div>

<table class="table table-striped">
  <thead class="thread-dark">
    <tr>
      <th scope="col">Firstname</th>
      <th scope="col">Age</th>
      <th scope="col">DOB</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users; index as i">
      <td>{{ user.firstname }}</td>
      <td>{{ user.age }}</td>
      <td>{{ user.dob | date}}</td>
      <td>
        <button
          class="btn btn-danger"
          style="margin: 1%"
          (click)="deleteRow(user, i)"
        >
          Delete user
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- <ul class="list-group">
  <li *ngFor="let user of users; index as i" class="list-group-item">
    {{ user.firstname }} , {{ user.age
    }}<button
      class="btn btn-danger"
      style="margin: 1%"
      (click)="deleteRow(user, i)"
    >
      delete
    </button>
  </li>
</ul> -->
