
<div *ngIf="courses.length > 0 ; then courseList else noCourse" style="text-align: center;">
    List of course
   
</div>
<ng-template #courseList>
    <li *ngFor="let course of courses">
        {{course}}
    </li>
</ng-template>
<ng-template #noCourse style="text-align: center;">
    No courses Available at the moment
</ng-template>
<div>
  Today's date : {{presentDate | date:'fullDate' | uppercase}}
  <br/>
  Today's date : {{presentDate | date:'shortDate' }}
  <br/>
  Today's date : {{presentDate | date:'dd/M/yyyy'}}
  <br/>
  Today's date : {{presentDate | date:'M/dd/yyyy'}}
</div>
<div>
  the demo text : {{demotext | uppercase}} 
  <br/>
  the currency pipe is : {{price | currency}}
  <br/>
  the decimal pipe : {{num1 | number:'3.1-2'}}
  the decimal pipe : {{num2 | number}}
  <br/>
  the percentage pipe : {{score | percent}}
  <br/>
  <p>{{object | json}}</p>
</div>



<!-- <div *ngIf="courses.length > 0; then coursesList; else noCourses">
  List of Courses
</div>
<ng-template #coursesList>
  <ol>
    <li *ngFor="let course of courses">
      {{ course }}
    </li>
  </ol>
</ng-template>
<ng-template #noCourses> No courses yet </ng-template> -->
